body {
    margin: 0px;
}

/*Header and menu*/
.header {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 23px;
    padding-bottom: 23px;
}

.menu {
    position: relative;
    top:23px;
    float: right;
    display: inline;
}

.menu a {
    margin-right: 28px;
    font-size: 18px;
    color: #1c3a50;
    text-decoration: none;
}

.menu a:hover {
    color: #02b8dc;
}

/*Banner*/
.banner {
    background-image: url(images/bannerBg.png);
    height: 500px;
}

.banner h1 {
    margin-right: 40px;
    position: relative;
    top:150px;
    color : #1f435e;
    font-size: 32px;
    float: right;
}

.formDiv {
    float: left;
    position: relative;
    top:80px;
    background-color: white;
    border-radius: 4px;
    margin-left: 80px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 80px;
}

.banner label {
    font-size: 14px;
    color : #6d6e71;
}

.banner input {
    font-size: 16px;
    padding: 12px;
}

#location {
    width: 545px;
}

.form-second {
    margin-top: 15px;
    margin-right: 15px;
    display: inline-block;
}

.form-second input {
    width: 150px;
}

#accomodation-form {
    width: auto;
}

#find {
    margin-left: 40%;
    width: 140px;
    height: 47px;
    background-color: orangered;
    color: white;
    font-size: 14px;
    margin-top: 15px;
    border: none;
}

.reasons {
    margin: 0px;
    padding-top: 10px;
    padding-left: 150px;
    padding-bottom: 20px;
    background-color: rgb(191, 231, 252);
}

.reasons h1 {
    position: relative;
    left: 30%;
}

.reason {
    align-content: center;
    display: inline-block;
    width: 20%;
    margin-top: 30px;
    margin-right: 150px;
}

.reason img {
    position: relative;
    left: 40%;
}

.reason-h {
    font-size: 18px;
    color: #1c3a50;
    font-size: 18px;
    font-style: normal;
    text-align: center;
}

.reason a {
    position: relative;
    left: 30%;
    text-align: center;
    font-size: 18px;
    color: #1c3a50;
    text-decoration: none;
    margin-top: 15px;
}

.joinBanner {
    padding: 10px;
    align-content: center;
    background-color: #02b8dc;
}

.joinBanner h3 {
    margin-left: 30%;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    color: white;
}

.joinBanner h3 strong {
    font-size: 30px;
}

#joinButton {
    font-size: 18px;
    width: 160px;
    height:42px;
    margin-left: 22px;
    display: inline-block;
    color: white;
    background: none;
    border : 2px solid white;
}